<%- include('../includes/head.ejs') %>
  <body>
      <!-- Nav starts -->
        <%- include('../includes/nav.ejs') %>
            <header id="header" class="alt">
                <div class="inner" style='top:-260px;'>
                    <div class="container" style="text-align:center">
                        <br/><h1>Verified, <a href='/login' style='text-decoration: none;'>Login!</a></h1>  
                    </div>
                </div>
            </header>
    <!-- Wrapper -->
        <%- include('../includes/footer.ejs') %>
    <!-- Scripts -->
    <%- include('../includes/end.ejs') %>







