<div id="wrapper">
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/jordan-rheeder-7306b4185/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
        <p class="copyright">&copy; JRHEEDER </p>
    </footer>
</div>