<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href='/' >
        Home
      </a>
      <% if(user) {%>
        <a class="navbar-item" href='/matches'><strong>Match</strong></a>
        <a class="navbar-item" href='/chats'><strong>Chat</strong></a>
        <a class="navbar-item" href='/account'><strong>Account</strong></a>
        <a class="navbar-item" href='/signOut'><strong>Sign Out</strong></a>
      <% } %>
      <% if(!user) { %>
        <a class="navbar-item" href='/register'><strong>Sign up</strong></a>
        <a class="navbar-item" href='/login'>Log in</a>
      <% } %>
    </div>
  </div>
</nav>


  