<%- include('../includes/head.ejs') %>
  <body>
    
    <!-- Nav starts -->
        <%- include('../includes/nav.ejs') %>
    <!-- Nav ends -->
    
    <!-- Header Starts -->
    <header id="header" class="alt">
      <div class="inner">
        <h1>Matcha</h1>
        <p>Where connections are made, find your <a href="./register">Match</a></p>
      </div>
     </header>
    <!-- Head ends -->
    
    <!-- footer starts -->
      <%- include('../includes/footer.ejs') %>
    <!-- Footer ends -->
    
    <!-- end -->
    <%- include('../includes/end.ejs') %>
    <!-- end end -->